{:objects
 {:Query
  {:fields
   {:Employee
    {:type (list :Employee),
     :args
     {:attributes {:type :EmployeeQueryAttributes},
      :filter {:type :EmployeeFilter},
      :limit {:type :Int},
      :offset {:type :Int}}}}},
  :Mutation
  {:fields
   {:CreateEmployee
    {:type :Employee,
     :args {:input {:type :EmployeeCreateMutationAttributes}}},
    :UpdateEmployee
    {:type :Employee,
     :args {:input {:type :EmployeeUpdateMutationAttributes}}},
    :DeleteEmployee
    {:type (list :Employee),
     :args {:input {:type :EmployeeDeleteMutationAttributes}}}}},
  :Employee
  {:fields
   {:ManagerName {:type (non-null :String)},
    :ResourceType {:type (non-null :String)},
    :FirstName {:type (non-null :String)},
    :Team_2 {:type (non-null :String)},
    :OrgTree {:type (non-null :String)},
    :StartDate {:type (non-null :String)},
    :CalculatedAnnualRate {:type (non-null :Int)},
    :PreferredName {:type (non-null :String)},
    :LocationCategory {:type (non-null :String)},
    :Team {:type (non-null :String)},
    :Email {:type (non-null :String)},
    :HRLevel {:type (non-null :Int)},
    :HourlyRate {:type (non-null :Int)},
    :LastName {:type (non-null :String)},
    :AverageWeeklyHours {:type (non-null :Int)},
    :WorkLocation {:type (non-null :String)},
    :EndDate {:type (non-null :String)},
    :Role {:type (non-null :String)},
    :Organization {:type (non-null :String)},
    :Status {:type (non-null :String)}}}},
 :scalars
 {:AnyScalar
  {:parse
   #object[agentlang.graphql.generator$fn__41586 0x20a4511e "agentlang.graphql.generator$fn__41586@20a4511e"],
   :serialize
   #object[clojure.core$str 0x203e1e6f "clojure.core$str@203e1e6f"]}},
 :input-objects
 {:EmployeeQueryAttributes
  {:fields
   {:ManagerName {:type :String},
    :ResourceType {:type :String},
    :FirstName {:type :String},
    :Team_2 {:type :String},
    :OrgTree {:type :String},
    :StartDate {:type :String},
    :CalculatedAnnualRate {:type :Int},
    :PreferredName {:type :String},
    :LocationCategory {:type :String},
    :Team {:type :String},
    :Email {:type :String},
    :HRLevel {:type :Int},
    :HourlyRate {:type :Int},
    :LastName {:type :String},
    :AverageWeeklyHours {:type :Int},
    :WorkLocation {:type :String},
    :EndDate {:type :String},
    :Role {:type :String},
    :Organization {:type :String},
    :Status {:type :String}}},
  :EmployeeCreateMutationAttributes
  {:fields
   {:ManagerName {:type (non-null :String)},
    :ResourceType {:type (non-null :String)},
    :FirstName {:type (non-null :String)},
    :Team_2 {:type (non-null :String)},
    :OrgTree {:type (non-null :String)},
    :StartDate {:type (non-null :String)},
    :CalculatedAnnualRate {:type (non-null :Int)},
    :PreferredName {:type (non-null :String)},
    :LocationCategory {:type (non-null :String)},
    :Team {:type (non-null :String)},
    :Email {:type (non-null :String)},
    :HRLevel {:type (non-null :Int)},
    :HourlyRate {:type (non-null :Int)},
    :LastName {:type (non-null :String)},
    :AverageWeeklyHours {:type (non-null :Int)},
    :WorkLocation {:type (non-null :String)},
    :EndDate {:type (non-null :String)},
    :Role {:type (non-null :String)},
    :Organization {:type (non-null :String)},
    :Status {:type (non-null :String)}}},
  :FloatComparison
  {:fields
   {:eq {:type :Float},
    :ne {:type :Float},
    :gt {:type :Float},
    :gte {:type :Float},
    :lt {:type :Float},
    :lte {:type :Float},
    :in {:type (list :Float)},
    :between {:type (list :Float)}}},
  :EmployeeDeleteMutationAttributes
  {:fields
   {:ManagerName {:type :String},
    :ResourceType {:type :String},
    :FirstName {:type :String},
    :Team_2 {:type :String},
    :OrgTree {:type :String},
    :StartDate {:type :String},
    :CalculatedAnnualRate {:type :Int},
    :PreferredName {:type :String},
    :LocationCategory {:type :String},
    :Team {:type :String},
    :Email {:type :String},
    :HRLevel {:type :Int},
    :HourlyRate {:type :Int},
    :LastName {:type :String},
    :AverageWeeklyHours {:type :Int},
    :WorkLocation {:type :String},
    :EndDate {:type :String},
    :Role {:type :String},
    :Organization {:type :String},
    :Status {:type :String}}},
  :StringComparison
  {:fields
   {:contains {:type :String},
    :eq {:type :String},
    :gte {:type :String},
    :startsWith {:type :String},
    :gt {:type :String},
    :endsWith {:type :String},
    :lte {:type :String},
    :ne {:type :String},
    :lt {:type :String},
    :in {:type (list :String)}}},
  :IntComparison
  {:fields
   {:eq {:type :Int},
    :ne {:type :Int},
    :gt {:type :Int},
    :gte {:type :Int},
    :lt {:type :Int},
    :lte {:type :Int},
    :in {:type (list :Int)},
    :between {:type (list :Int)}}},
  :EmployeeUpdateMutationAttributes
  {:fields
   {:ManagerName {:type :String},
    :ResourceType {:type :String},
    :FirstName {:type :String},
    :Team_2 {:type :String},
    :OrgTree {:type :String},
    :StartDate {:type :String},
    :CalculatedAnnualRate {:type :Int},
    :PreferredName {:type :String},
    :LocationCategory {:type :String},
    :Team {:type :String},
    :Email {:type :String},
    :HRLevel {:type :Int},
    :HourlyRate {:type :Int},
    :LastName {:type :String},
    :AverageWeeklyHours {:type :Int},
    :WorkLocation {:type :String},
    :EndDate {:type :String},
    :Role {:type :String},
    :Organization {:type :String},
    :Status {:type :String}}},
  :BooleanComparison
  {:fields {:eq {:type :Boolean}, :ne {:type :Boolean}}},
  :ListComparison
  {:fields
   {:contains {:type :AnyScalar},
    :containsAll {:type (list :AnyScalar)},
    :containsAny {:type (list :AnyScalar)},
    :eq {:type (list :AnyScalar)},
    :ne {:type (list :AnyScalar)},
    :isEmpty {:type :Boolean}}},
  :EmployeeFilter
  {:fields
   {:ManagerName {:type :StringComparison},
    :ResourceType {:type :StringComparison},
    :FirstName {:type :StringComparison},
    :Team_2 {:type :StringComparison},
    :OrgTree {:type :StringComparison},
    :StartDate {:type :StringComparison},
    :CalculatedAnnualRate {:type :IntComparison},
    :PreferredName {:type :StringComparison},
    :LocationCategory {:type :StringComparison},
    :Team {:type :StringComparison},
    :or {:type (list :EmployeeFilter)},
    :Email {:type :StringComparison},
    :HRLevel {:type :IntComparison},
    :HourlyRate {:type :IntComparison},
    :not {:type :EmployeeFilter},
    :LastName {:type :StringComparison},
    :AverageWeeklyHours {:type :IntComparison},
    :and {:type (list :EmployeeFilter)},
    :WorkLocation {:type :StringComparison},
    :EndDate {:type :StringComparison},
    :Role {:type :StringComparison},
    :Organization {:type :StringComparison},
    :Status {:type :StringComparison}}}}}
